    <nav class="navbar bg-success" data-bs-theme="dark">
            <div class="mx-auto pb-3 pt-3">
                <span class="navbar-brand" data-bs-toggle="modal" data-bs-target="#exampleModal">
<i class="fa-solid fa-cart-flatbed fa-lg"></i>
            </span>
        </div>
    </nav>

    <div class ="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class="modal-content">
                    <div class="modal-body" id="modalBody">
            
                    </div>
            </div>         
        </div>
    </div>