<link rel="stylesheet" href="/css/bootstrap.min.css">

<div>
    {{> Dashboard}}
</div>

<script src="/jquery/jquery.js"></script>
<script src="/script.js"></script>
<script src="https://kit.fontawesome.com/ddeffa9bf4.js" crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>